<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
					</array>
		<key>name</key>
		<string>A类职位</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>000.png</string>
				<key>name</key>
				<string>B职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>name</key>
				<string>B职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>000.png</string>
				<key>name</key>
				<string>B职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>000.png</string>
				<key>name</key>
				<string>B职位1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
            </array>
		<key>name</key>
		<string>B类职位</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>C职位-1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>C职位-1</string>
				<key>status</key>
				<string>C职位-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>C职位-1</string>
				<key>status</key>
				<string>C职位-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
				</array>
		<key>name</key>
		<string>C类职位</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>D职位-1</string>
				<key>status</key>
				<string> </string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>D职位-2</string>
				<key>status</key>
				<string>[</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
        </array>
		<key>name</key>
		<string>D类职位</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>

		</array>
		<key>name</key>
		<string>E类职位</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>F-1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>F-2</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>F-3</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
            </array>
		<key>name</key>
		<string>F类职位</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>G-1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>name</key>
				<string>G-2</string>
				<key>status</key>
				<string> </string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>G-3</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>G-4</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
						
		</array>
		<key>name</key>
		<string>G类职位</string>
		<key>online</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>name</key>
				<string>H-1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>000.png</string>
				<key>name</key>
				<string>H-2</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>name</key>
				<string>H-3</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
						
		</array>
		<key>name</key>
		<string>H类职位</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>I-1</string>
				<key>status</key>
				<string> </string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>name</key>
				<string>I-2</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>I-3</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>I-4</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			
		</array>
		<key>name</key>
		<string>I类职位</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>J-1</string>
				<key>status</key>
				<string></string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
				</array>
		<key>name</key>
		<string>J类职位</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
